.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.leaflet-popup-content p {
  margin: 0;
}
.popup .leaflet-popup-content-wrapper {
  color: rgb(255, 0, 119);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  line-height: 1;
  color: rgb(255, 0, 119);
  justify-content: center;
}

.cb {
  align-self: flex-end;
  width: 3vw;
}

.icon {
  margin-right: 5px;
  width: 3vw;
}
@media (max-width: 650px) {
  .icon {
    width: 10vw;
  }
}
.wrap2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  color: rgb(255, 0, 119);
  font-size: large;
  margin: 0;
  padding: 5px;
}
.info span {
  margin-left: 25px;
}
.legend {
  color: grey;
  font-size: small;
  align-self: center;
}
